<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In facere aliquam consequuntur ex! Minus adipisci iusto tempore, eligendi reprehenderit, blanditiis maiores ullam dolor iste temporibus eum fugit magni earum corrupti architecto eaque nihil harum, ipsa provident maxime natus alias excepturi labore autem! Repellendus quaerat, voluptatem beatae doloribus dolorum velit omnis aut similique sit autem minima neque deleniti ipsum, a recusandae cupiditate repudiandae ratione eveniet facere ducimus tempore! Facilis dolor optio inventore perspiciatis cum impedit molestiae, tempore ducimus sit reprehenderit iusto quasi quae adipisci modi facere similique officiis aut laboriosam laborum sint. Perferendis maiores consectetur quod odit totam, similique quisquam pariatur impedit vitae ullam fugiat atque ex eligendi quidem iste non mollitia nihil distinctio voluptas dicta aliquam placeat beatae esse ab. Fugiat minima tenetur beatae, tempora accusamus quisquam exercitationem animi numquam nemo pariatur consequuntur et aliquid eius ut facere incidunt. Voluptate sapiente et praesentium atque omnis, unde, aspernatur, harum adipisci laboriosam illum saepe repellat quia labore dolore rerum necessitatibus! Libero beatae animi omnis voluptate. Magni sed reprehenderit natus magnam? Accusamus obcaecati dignissimos, harum cumque nesciunt enim rem nulla est, incidunt voluptate delectus animi asperiores eius eligendi sit officiis eaque ipsa quo temporibus? Accusantium tempora fugit neque rem non. Distinctio, praesentium nostrum.</p>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>

</html>